---
layout: default
---
</section>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style>
ul.horizontal {
	list-style-type: none;
	text-align: center;
	/*background-color: #3399CC;*/
	background-color: #f2f2f2;
	/*margin-left: -230px;*/
	overflow: hidden;
	box-shadow: 0px 1px 0px #202020;
	/*border-color: #008888;
		border-radius: 10px 10px 10px 10px;*/
}
.fixed {
	top: 0px;
	position: fixed;
}
ul.horizontal li {
	font-size: 20px;
	display:inline-block;
	float: right;
}

#logo {
	float: left;
	border: none;
	vertical-align: middle;
}

ul.horizontal li a {
	display: block;
	color: black;
	padding: 16px 20px;
	text-decoration: none;
}


ul.horizontal li a:hover:not(.active) {
	/*background-color: #606060;*/
	font-weight: bold;
	padding: 16px 20px;
	box-shadow: 0px 2px 0px #0366d6;
}

ul.horizontal li a.active {
	background-color:#4CAF50;
}

#roll-fix { 
	margin-top: -60px;
	z-index: 10;
}

@media(max-width: 600px){
	#wallpapers{
		display: none;
	}
}
@media(max-width: 500px){
	#scripts{
		display: none;
	}
}
@media(max-width: 400px){
	#files{
		display: none;
	}
}
</style>
<div id="roll-fix" class="outer">
	<ul class="horizontal">
		<!--li style="float: left; padding: 50px 0px; text-align: center;"><a href='{{ "/index.html" | absolute_url }}'><span style="font-size: 50px;">&#127968;</span></br> home</a></li>
		<li style="float: right; padding: 50px 0px; text-align: center;"><a href='{{ "/category/index.html" | absolute_url }}'><span style="font-size: 50px;">&#128188;</span></br> category</a></li>

		<li style="padding: 50px;"></li>
		<li style="padding: 50px;"></li-->
		<li id="wallpapers"><a href='/bing-wallpaper-collect'>Wallpapers</a></li><!--
		--><li id="scripts"><a href='/script'>Scripts</a></li><!--
		--><li id="files"><a href='{{ "/files.html" | absolute_url }}'>Files</a></li><!--
		--><li><a href='{{ "/category/index.html" | absolute_url }}'>Category</a></li><!--
		--><li><a href='{{ "/index.html" | absolute_url }}'>Home</a></li><!--
		--><li id="logo"><object data='{{ "/assets/favicon.png" | absolute_url }}' type="image/png" width=40px ></object></li>
		<!--li id="logo" style="padding: 15px 10px">Sirius' Blog</li-->
	</ul>
</div>
<section id="main_content1" class="inner">

	{{ content }}

</section>
<script type="text/javascript">
	var elementPosition = $('#roll-fix').offset();
$(window).scroll(function () {
	if ($(window).scrollTop() > elementPosition.top) {
		$('#roll-fix').css('position', 'fixed').css('margin-top', '0px').css('top', '0').css('width', '100%');
	} else {
		$('#roll-fix').css('position', 'relative').css('margin-top', '-60px');
	}
});
</script>
